body {
    font-family: Bahnschrift;
}

.nav-tabs {
    background-color: #2f3439;
    border: 1px !important;
}

.tab-link {
    border-radius: 0 !important;
    color: white;
    background-color: #343a40;
    border: none !important;
    box-shadow: none !important;
    margin-right: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tab-link:hover {
    background-color: #23272b;
}

.tab-link.active {
    background-color: rgb(235, 235, 235) !important;
    color: black !important;
    border: none !important;
    border-radius: 10px 10px 0 0 !important;
}

.remove-btn {
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    color: white !important;
    margin-left: 10px;
}

.remove-btn.active {
    color: black !important;
}

.remove-btn svg {
    vertical-align: text-bottom;
}

.remove-btn:hover {
    color: red !important;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.navbar {
    z-index: 200;
}

.Title {
    vertical-align: middle;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.btnOutline {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

.btnOutline:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

.btnNoOutline {
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, 0.5) !important;
}

.btnNoOutline:focus {
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, 0.5) !important;
}

canvas {
    position: absolute;
    overflow-y: hidden;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.modalBox {
    position: absolute;
    right: 20px;
    bottom: 0px;

    display: none;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.modal-header {
    background-color: #343a40;
    border-bottom: 1px black;
    color: white;
}

.modal-header > .close {
    color: white !important;
    opacity: 1 !important;
    font-weight: 1 !important;
}

.modalBody {
    background-color: white;
}

.modalBody > .input-group > .form-control {
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    outline: none !important;
}

.modal-60w {
    max-width: 100% !important;
    width: 60% !important;
}

.modal-60w > .modal-content {
    border: none !important;
}

.tutorial-content {
    font-size: 1.1rem;
}

.tutorial-list {
    padding-left: 30px;
}

.page-number {
    flex: auto;
}

.tutorial-list li {
    background: url("https://api.iconify.design/uil:circuit.svg?height=24")
        no-repeat transparent;
    background-position: 0px 0px;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 5px 30px;
    vertical-align: middle;
}

.tutorial-content p {
    margin-bottom: 0.5rem;
}

.tutorial-content img {
    border-radius: 0.5rem;
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #888;
}
