body {
    font-family: Bahnschrift;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.Title {
    vertical-align: middle;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.btnOutline {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

.btnOutline:focus {
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5) !important;
}

.btnNoOutline {
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, 0.5) !important;
}

.btnNoOutline:focus {
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, 0.5) !important;
}

canvas {
    position: absolute;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    background-color: #343a40;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #f1f1f1 #888;
}
